<nav>
  <ul class="pagination">
    <li class="page-item" [ngClass]="{ disabled: currentPage === 0 }">
      <a href="" class="page-link" (click)="prevPage($event)">Prev</a>
    </li>
    <ng-container *ngFor="let image of images; let i = index">
      <li
        class="page-item"
        [ngClass]="{ active: i === currentPage }"
        *ngIf="checkWindowIndex"
      >
        <a class="page-link" (click)="currentPage = i">{{ i + 1 }}</a>
      </li>
    </ng-container>

    <li
      class="page-item"
      [ngClass]="{ disabled: currentPage === images.length - 1 }"
    >
      <a href="" class="page-link" (click)="nextPage($event)">Next</a>
    </li>
  </ul>
</nav>

<div>
  <h4>{{ images[currentPage].title }}</h4>
  <img [src]="images[currentPage].url" alt="" width="350px" />
</div>
